<h1>Mods</h1>

<table class="table">
	<tr>
		<th>Name</th>
		<th>Version</th>
	</tr>

	<% @mods.each do |mod| %>
	<tr>
		<td><%= link_to mod.name, mod %></td>
		<td><%= mod.version %></td>
	</tr>
	<% end %>
</table>

<h3><%= (account_signed_in?) ? (link_to 'Create new mod', new_mod_path) : '' %></h3>