<div class="row">

  <div class="col-md-3">
    <p class="lead">Mods</p>
    <div class="list-group">
      <a href="#" class="list-group-item">Category #1</a>
      <a href="#" class="list-group-item">Category #2</a>
      <a href="#" class="list-group-item">Category #3</a>
    </div>
  </div>

  <div class="col-md-9">

    <div class="row">
      <% if @mods.empty? %>
          <div align="center">
              <% tag_message = (@tag.nil?) ? '' : ' with the tag \'' + @tag + '\'' %>
              <h3>No mods found<%= tag_message %>.</h3>
              <h3 style="padding-top: 30px;"><%= link_to 'Upload a Mod', new_mod_path, class: 'btn btn-default btn-lg' %></h3>
          </div>
      <% end %>
      <% @mods.each do |mod| %>
        <%= render partial: 'box', locals: { mod: mod, homepage: false } %>
      <% end %>
    </div>
    <div align="center">
        <%= will_paginate @mods, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>