
<h2></h2>

<ul class="list-group">
  <li class="list-group-item text-muted">Inbox</li>
  <li class="list-group-item text-right">
    <a href="#" class="pull-left">Here is your a link to the latest summary report from the..</a> 2.13.2014
  </li>
  <li class="list-group-item text-right">
    <a href="#" class="pull-left">Hi Joe, There has been a request on your account since that was..</a>
    2.11.2014
  </li>
  <li class="list-group-item text-right">
    <a href="#" class="pull-left">Nullam sapien massaortor. A lobortis vitae, condimentum justo...</a>
    2.11.2014
  </li>
  <li class="list-group-item text-right">
    <a href="#" class="pull-left">Thllam sapien massaortor. A lobortis vitae, condimentum justo...</a>
    2.11.2014
  </li>
  <li class="list-group-item text-right">
    <a href="#" class="pull-left">Wesm sapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014
  </li>
  <li class="list-group-item text-right">
    <a href="#" class="pull-left">For therepien massaortor. A lobortis vitae, condimentum justo...</a>
    2.11.2014
  </li>
  <li class="list-group-item text-right">
    <a href="#" class="pull-left">Also we, havesapien massaortor. A lobortis vitae, condimentum justo...</a>
    2.11.2014
  </li>
  <li class="list-group-item text-right">
    <a href="#" class="pull-left">Swedish chef is assaortor. A lobortis vitae, condimentum justo...</a>
    2.11.2014
  </li>

</ul>