<h2></h2>

<% inbox = account.mailbox.inbox %>

<ul class="list-group">
  <li class="list-group-item text-muted">Inbox</li>
  <% if inbox.empty? %>
      <li class="list-group-item">
        <i>No messages.</i>
      </li>
  <% end %>

  <% inbox.each do |message| %>
      <li class="list-group-item text-right">
        <a href="#" class="pull-left"><%= message.subject %></a> 2.13.2014
      </li>
  <% end %>
</ul>