<h2></h2>

<% if !account.subscribed_mods.empty? %>
    <div class="table-responsive">
      <table class="mods borderless">
        <% account.subscribed_mods.each do |mod| %>
            <tr>
              <td><h4><%= link_to mod.name, mod %></h4></td>
              <% if current_account == account %>
                  <td>
                    <div class="pull-right">
                      <%= link_to 'Unsubscribe', subscribe_mod_path(mod), class: 'btn btn-danger action-button' %>
                    </div>
                  </td>
              <% end %>
            </tr>
        <% end %>
      </table>
    </div>
<% else %>
    <h2><i>You are not subscribed to any mods.</i></h2>
<% end %>